<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Form Örneği</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="card mt-3">
    <div class="card-body">
      <form [formGroup]="form" (submit)="sendMessageToWebSocket()">
        <div class="form-group">
          <label for="arm" class="form-label">Kollar</label>
          <input type="range" class="form-control-range" formControlName="arm" min="0" max="180" id="arm" (change)="sendMessageToWebSocket()" >
        </div>
        <button type="submit" class="btn btn-success">Gönder</button>
        <button style="margin-left: 10px" class="btn btn-primary" (click)="connect()">Bağlan</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
